

@import url('https://fonts.googleapis.com/css?family=Lato');

body {

    font-family: 'Lato', sans-serif !important;
    background: transparent;
}

.navbar-default .navbar-brand
{
  color: #444;
}
.home-head
{
  padding-top: 100px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    
  }

.dropdown-menu
{
  padding: 10px;

}
