<section id="intro" class="intro-section">
      <h1>ConnectAnywhere</h1>
      <div class="container" id="wrap">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-6">
            <div class="well borderr">
              <h2 style="text-align:center">Reset Your password</h2>
              <p>
                Enter Your New Password:
              </p>
                  <input type="password" name="pwd" value="" class="form-control input-sm" placeholder="New Password"><br>
                  <input type="password" name="pwd" value="" class="form-control input-sm" placeholder="Confirm Password"><br>
                  <a class="btn btn-default btn-sm btn-success" type="button" href="home.html">Submit</a>

          </div>
          <div class="col-md-3">

          </div>
        </div>
</div>
</div>
    </section>
