




<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{link-to 'ConnectAnywhere' 'dashboard' class="navbar-brand"}}

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-left">
                  <li class="mtop-xs">
                              <h5>Welcome, User</h5>

                  </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li>
                      {{link-to  '#Tag' 'dashboard.hashtag'}}

                    </li>
                    <li>
                        <a href="connected.html">Connected People</a>
                    </li>
                    <li>
                        <a href="pending.html">Pending</a>
                    </li>



                          {{#bs-dropdown tagName="li" as |dd|}}
       {{#dd.toggle}}<span class="glyphicon glyphicon-user"></span>&nbsp; User <b class="caret"></b>{{/dd.toggle}}
       {{#dd.menu}}
           <li>Preferences</li>
           <li>Contact Support</li>
           <li class="divider"></li>
           <li {{action 'logout'}}> Logout </li>

       {{/dd.menu}}
   {{/bs-dropdown}}



                    <li>
                        <a class="page-scroll" href="#contact"><span class="glyphicon glyphicon-comment"></span></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



{{outlet}}
